In [1]:
import pandas as pd

In [6]:
ac = pd.read_csv('data/csv/accounts.csv', low_memory=False)
ch = pd.read_csv('data/csv/credit_history.csv', low_memory=False)
ctr = pd.read_csv('data/csv/customers.csv', low_memory=False)
trns= pd.read_csv('data/csv/transactions.csv', low_memory=False)

In [ ]:
display (
    ac.head() ,
    ch.head() , 
    ctr.head() , 
    trns.head()
)

,account_id,customer_id,account_type,account_number,routing_number,balance,credit_limit,interest_rate,status,opened_date
0,147dea33-938a-465c-8ab0-4b88a60b9839,0afd6fc2-2e0e-482a-8ed6-c3ba17636f55,Loan,3.723983e+14,125087953.0,24583.88,NaN,13.78,Closed,2016-01-28 07:30:53.932765
1,dfad6dd2-129a-48ae-8f34-5d0340955e29,1507c74d-07cc-4cf0-bd3b-815f3aa31eaa,Credit Card,4.721717e+12,84146647.0,-25801.25,6605.90,7.66,Inactive,2016-10-04 09:37:43.932999
2,55ac8ed3-98d5-4bef-bfff-65487ed980e0,d5cad209-8e95-4b15-9bc9-06d62bf7114d,Credit Card,2.268029e+15,91334662.0,-12200.92,28536.57,16.40,Inactive,2025-07-12 13:13:22.087068
3,4667bca3-e0e3-4b67-8301-5f4fc57ee6ef,624432ac-11cb-47c8-a961-1fea88a1645c,Credit Card,4.844266e+12,69326602.0,67991.85,13058.16,6.56,Active,2016-04-13 07:52:21.048607
4,be6225be-9c17-4b29-ba81-7e625587b3ea,2c839003-4915-41b0-b251-612ee9366a8b,Loan,NaN,33196910.0,86133.66,NaN,2.98,Closed,2021-02-16 14:45:30.024440

,credit_history_id,customer_id,credit_score,credit_bureau,score_date
0,3c6caa75-7dd7-4492-9e5d-819011f0a27a,2396cc68-c551-4617-a578-cbb105fc88a3,389.0,Equifax,2023-07-09 17:06:40.616771
1,0853fcaf-168d-4ca5-9234-6d655c0f4485,2396cc68-c551-4617-a578-cbb105fc88a3,768.0,Experian,2023-11-08 12:36:13.833190
2,4dfab6e5-a3ed-4437-9ab3-7f3621934277,2396cc68-c551-4617-a578-cbb105fc88a3,398.0,TransUnion,2023-02-10 04:44:05.292987
3,5fd8d033-b23d-4b1f-adc4-ae175b1306aa,0e6cd5ab-46c6-4d27-b79e-5ff6158fa98e,391.0,Equifax,2024-05-20 22:15:02.090375
4,34bb5ace-b219-4af6-9316-d9e1626aaf15,1da9bc22-b2ea-44aa-9544-2e6a721e2ab1,665.0,Experian,2023-08-05 06:25:14.710145

,customer_id,first_name,last_name,email,phone,ssn,date_of_birth,address,city,state,zip_code,country,annual_income,employment_status,credit_score,credit_range,created_date
0,2396cc68-c551-4617-a578-cbb105fc88a3,Angel,Sanchez,daviesjanice@example.org,0133-8908,ZZ 863794 T,1992-06-23,"Flat 23W, Warner light, West Leighview, W8 6DX",NaN,Texas,30372.0,Belgium,136899.69,Employed,581,Fair,2025-01-02 18:44:07.600540
1,0e6cd5ab-46c6-4d27-b79e-5ff6158fa98e,Joshua,Martin,elizabethmiles@example.net,NaN,620 571 877,2000-05-28,"Suite 388 96 Cox Corner, Daviston, NSW, 2632",Port Patrickmouth,Australian Capital Territory,89667.0,Pitcairn Islands,150303.43,Student,729,Good,2024-07-08 00:33:22.482028
2,1da9bc22-b2ea-44aa-9544-2e6a721e2ab1,Daniel,Moore,teresa28@example.org,(293) 252-8809 x570,460 583 776,2006-04-14,"Studio 24, Arnold plains, Lake Graeme, SG57 1JJ",Andrewside,Pennsylvania,29365.0,Barbados,41925.37,Unemployed,570,Poor,2021-10-26 12:02:23.155488
3,1c5fe717-7e20-4749-98b0-2b5bc2f5fade,Michele,Palmer,ilewis@example.net,0863116566,885-94-0888,1948-06-28,"38726 Joshua Gateway, South Lindseyside, BC Y4...",Lewisfurt,Hawaii,50173.0,Iceland,33019.27,Self-employed,596,Fair,2025-04-22 09:58:17.232702
4,910efe14-ecdb-48c6-9b25-40af3f308333,Justin,Moore,tanyariley@example.net,001-350-309-7882x0812,ZZ193990T,1971-01-31,"534 Anderson Rue, Stephenland, AB E4C9Y5",Brianbury,South Australia,21177.0,Syrian Arab Republic,37495.44,Self-employed,846,Excellent,2023-09-25 10:53:54.850418

,transaction_id,account_id,transaction_type,amount,description,merchant_name,merchant_category,transaction_date,status,reference_number,authorization_code,location
0,81e74bbc-42a7-457a-b562-3ee75f0c395c,40889de5-d38b-406b-a546-5e627098fb83,Purchase,413.48,Concern leader no eight.,Haynes Inc,Travel,2024-12-17 05:51:49.052863,Cancelled,REF-1735-VMno,AUTH-634021,"North Jennifer, Australian Capital Territory"
1,3556e336-3c07-40df-abe7-51f08d3ae948,7bdd3960-3334-4293-9cdc-05b43f2e94d4,Transfer,2903.46,Respond study draw fight.,NaN,NaN,2023-11-26 11:55:06.912536,Completed,REF-3156-GNbU,NaN,"Waltersshire, Northern Territory"
2,2c31e1b7-9dbe-4933-88d9-c3a708b282d1,0662a834-5ebf-4a85-9046-ebb2c3446b84,NaN,2920.85,Explicabo quas corporis temporibus vero minus.,NaN,NaN,2025-03-13 04:55:56.627948,Pending,REF-7108-nNcp,NaN,"Lake Samanthamouth, Michigan"
3,e79017dc-993b-4a70-9310-4891fa2685a3,e03d609c-fb17-46c3-9588-9d2a13a96702,Deposit,7956.68,Management share successful another.,NaN,NaN,2025-05-08 12:34:01.015310,Failed,REF-3662-ikpP,NaN,"Watersborough, South Australia"
4,f6de90cc-7ff4-4ac6-8930-c13ef2e44d0c,372b8b07-f39f-4cee-a487-deb844f1557a,NaN,5999.15,Dolores molestias dolores aliquam error fugiat...,NaN,NaN,2024-02-26 01:33:38.258625,Cancelled,REF-5269-bmtP,NaN,"Jasminfurt, Victoria"

Findings 

48,845 total unique records across 4 relational tables
Relational structure: Customers → Accounts → Transactions + Credit History
Comprehensive data quality issues intentionally introduced

Data Quality Findings 


Missing Values: 2-6% across various fields
Invalid Formats: Invalid emails, phone numbers, dates
Duplicate Records: 1-2% intentional duplicates
Orphaned References: Accounts without valid customers
Future Dates: Some records with future timestamps
Negative Values: Inappropriate negative amounts
Invalid Data Types: Non-numeric values in numeric fields